*{
    margin: 0;
    padding: 0;
    font-family: "Arial Rounded MT Bold";
    box-sizing: border-box;
    font-feature-settings: normal;

}
body{
    background: black;
    color: whitesmoke;

}
.header {
    width: 100%;
    height: 100vh;
    background-image: url("/images/BetterHeadShot.jpg");
    background-size: cover;
    background-position: center;
    ;

}
.container{
    padding: 10px 10%;

}
/*fake logo css */
.fakeLogo{
    font-family: "Arial Rounded MT Bold";
    font-weight: bolder;
    font-size: 40px;
    color: whitesmoke;
    font-feature-settings: normal;
}
.fakeLogo span{
    color: #5858dc;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;


}
nav ol li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ol li a{
    color: whitesmoke;
    text-decoration:none ;
    font-size: 18px;
    font-feature-settings: normal;
    position: relative;
    font-feature-settings: normal;
}
nav ol li a::after{/*creates the red lines under our home page, contact page etc*/
    content:'';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ol li a:hover::after{
    width: 100%;/*makes red line show up when hover*/
}
.header-text{
    margin-top:20%;
    font-size: 30px;
    font-feature-settings: normal;
    font-weight: bolder;
}
.header-text h1{
    font-size: 60px;
    margin-top:20px ;
    font-feature-settings: normal;
    font-weight: bolder;
}
.header-text h1 span{
    color: #5858dc;
}
/*start of about me page and the image and stuff for it*/
.about{
    padding:80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap ;
    align-items: flex-start;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-family: "Arial Rounded MT Bold";
    font-size: 60px;
    font-weight: 600;
    color: whitesmoke;
    text-align: left;
    font-feature-settings: normal;

}
/*ccs for my about me descrition*/
.aboutme-paragraph{
    font-family: "Arial Rounded MT Bold";
    font-size: 18px;
    font-feature-settings: normal;
}
/*ccs for tab links about expericence, skills, educatio*/
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
/*skill tab bullet points*/
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #f5607f;
    font-size:14px;
}
.tab-contents{
    display: none;
}
/*setting expericne and skill and education all in seperate rows*/
.tab-contents.active-tab{
    display: block;
}


/* services for css style and such*/
.services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
}

/*making the boxes about my services and the styll for the box and conetnet in it*/
.services-list div{
    background: #262626;
    padding:40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

/*for my work/portfolio secton*/

.portfolio{
    padding:50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color:#ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin:50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding:14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color:#fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}


/*contact stuff for the html*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons a{
     margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: ababab;
    display: inline-block;
}